[submodule "application/CohortManager/src/dotnet-mesh-client"]
	path = application/CohortManager/src/Functions/Shared/dotnet-mesh-client
	url = https://github.com/NHSDigital/dotnet-mesh-client
	branch = main
