application = "cohman"
environment = "DEV"
location    = "uksouth"

tags = {
  Project = "Cohort-Manager"
}

resource_groups = {

  # cohman RG
  cohman = {

    name = "rg-cohort-manager-dev-uks"
    # Is is worth leaving location as a parameter for RG?
    # location = "uksouth"
  }

}

storage_accounts = {

  fnapp = {
    name_suffix                   = "fnappstor"
    resource_group_key            = "cohman"
    account_tier                  = "Standard"
    replication_type              = "LRS"
    public_network_access_enabled = true
  }

}

key_vault = {

  #name_suffix = ""
  resource_group_key = "cohman"
  disk_encryption    = true
  soft_del_ret_days  = 7
  purge_prot         = false
  sku_name           = "standard"

}

sqlserver = {

  server = {
    resource_group_key            = "cohman"
    sqlversion                    = "12.0"
    tlsversion                    = 1.2
    azure_services_access_enabled = true
  }

  # cohman database
  dbs = {
    cohman = {
      db_name_suffix = "cohman"
      collation      = "SQL_Latin1_General_CP1_CI_AS"
      licence_type   = "LicenseIncluded"
      max_gb         = 5
      read_scale     = false
      sku            = "S0"
    }
  }

  fw_rules = {

    passthrough = {
      fw_rule_name = "AllowAccessFromAzure"
      start_ip     = "0.0.0.0"
      end_ip       = "0.0.0.0"
    }
  }

}

app_service_plan = {


  resource_group_key = "cohman"

  sku_name = "P2v3"
  os_type  = "Linux"

}

function_app = {

  resource_group_key = "cohman"

  gl_worker_32bit         = false
  gl_cont_registry_use_mi = true
  gl_docker_env_tag       = "development"

  gl_app_settings = {
    # FUNCTIONS_WORKER_RUNTIME = "dotnet-isolated"
  }

  fa_config = {

    receiveCaasFile = {
      name_suffix     = "receive-caas-file"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    ProcessCaasFile = {
      name_suffix     = "process-caas-file"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    AddNewParticipant = {
      name_suffix     = "add-participant"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    RemoveParticipant = {
      name_suffix     = "remove-participant"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    UpdateParticipant = {
      name_suffix     = "update-participant"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    CreateParticipant = {
      name_suffix     = "create-participant"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    MarkParticipantEligible = {
      name_suffix     = "mark-participant-eligible"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    MarkParticipantAsIneligible = {
      name_suffix     = "mark-participant-ineligible"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    UpdateParticipantDetails = {
      name_suffix     = "update-participant-details"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    CreateValidationExceptions = {
      name_suffix     = "create-validation-exception"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    GetValidationExceptions = {
      name_suffix     = "get-validation-exceptions"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    DemographicDataService = {
      name_suffix     = "demographic-data-service"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    FileValidation = {
      name_suffix     = "file-validation"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    StaticValidation = {
      name_suffix     = "static-validation"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    LookupValidation = {
      name_suffix     = "lookup-validation"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    DemographicDataManagement = {
      name_suffix     = "demographic-data-management"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    AddCohortDistributionData = {
      name_suffix     = "add-cohort-distribution-data"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    RetrieveCohortDistributionData = {
      name_suffix     = "retrieve-cohort-distribution-data"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    RemoveCohortDistributionData = {
      name_suffix     = "remove-cohort-distribution-data"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    TransformData = {
      name_suffix     = "transform-data"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    AllocateServiceProvider = {
      name_suffix     = "allocate-service-provider"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    CreateCohortDistribution = {
      name_suffix     = "create-cohort-distribution"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

    RetrieveParticipantData = {
      name_suffix     = "retrieve-participant-data"
      docker_img_name = "tempImgName"

      site_config = {

        application_stack = {

        }
      }
    }

  }

}

event_grid = {

  topic = {

    resource_group_key = "cohman"
    name_suffix        = "cohman"
  }
}


law = {
  name_suffix        = "cohman"
  resource_group_key = "cohman"

  law_sku        = "PerGB2018"
  retention_days = 30

}

app_insights = {

  name_suffix        = "cohman"
  resource_group_key = "cohman"
  appinsights_type   = "web"

}

acr = {

  resource_group_key = "cohman"
  sku                = "Premium"
  admin_enabled      = false

  uai_name = "dtos-cohort-manager-acr-push"

}

api_management = {

  resource_group_key = "cohman"
  sku                = "Basic_1"

  publisher_name  = "NHS_DToS_CohortManager"
  publisher_email = "maciej.murawski@nordcloud.com"

}
