application = "cohman"
environment = "DEV"
location    = "uksouth"

tags = {
  Project = "Cohort-Manager"
}

resource_groups = {

  # cohman RG
  cohman = {

    name = "rg-cohort-manager-dev-uks"
    # Is is worth leaving location as a parameter for RG?
    # location = "uksouth"
  }

}

storage_accounts = {

  fnapp = {
    name_suffix                   = "fnappstor"
    resource_group_key            = "cohman"
    account_tier                  = "Standard"
    replication_type              = "LRS"
    public_network_access_enabled = true
  }

}

key_vault = {

  #name_suffix = ""
  resource_group_key = "cohman"
  disk_encryption    = true
  soft_del_ret_days  = 7
  purge_prot         = false
  sku_name           = "standard"

}

sqlserver = {

  server = {
    resource_group_key            = "cohman"
    sqlversion                    = "12.0"
    tlsversion                    = 1.2
    azure_services_access_enabled = true
  }

  # cohman database
  dbs = {
    cohman = {
      db_name_suffix = "cohman"
      collation      = "SQL_Latin1_General_CP1_CI_AS"
      licence_type   = "LicenseIncluded"
      max_gb         = 5
      read_scale     = false
      sku            = "S0"
    }
  }

  fw_rules = {

    passthrough = {
      fw_rule_name = "AllowAccessFromAzure"
      start_ip     = "0.0.0.0"
      end_ip       = "0.0.0.0"
    }
  }

}

app_service_plan = {


  resource_group_key = "cohman"

  sku_name = "B3"
  os_type  = "Linux"

}

function_app = {

  resource_group_key = "cohman"

  gl_worker_32bit    = false
  gl_dotnet_isolated = true
  gl_dotnet_version  = "v8.0"
  gl_app_settings = {
    FUNCTIONS_WORKER_RUNTIME = "dotnet-isolated"
  }

  fa_config = {

    receiveCaasFile = {
      name_suffix = "receive-caas-file"
    }

    ProcessCaasFile = {
      name_suffix = "process-caas-file"
    }

    AddNewParticipant = {
      name_suffix = "add-participant"
    }

    RemoveParticipant = {
      name_suffix = "remove-participant"
    }

    UpdateParticipant = {
      name_suffix = "update-participant"
    }

    CreateParticipant = {
      name_suffix = "create-participant"
    }

    MarkParticipantEligible = {
      name_suffix = "mark-participant-eligible"
    }

    MarkParticipantAsIneligible = {
      name_suffix = "mark-participant-ineligible"
    }

    UpdateParticipantDetails = {
      name_suffix = "update-participant-details"
    }

    CreateValidationExceptions = {
      name_suffix = "create-validation-exception"
    }

    GetValidationExceptions = {
      name_suffix = "get-validation-exceptions"
    }

    DemographicDataService = {
      name_suffix = "demographic-data-service"
    }

    FileValidation = {
      name_suffix = "file-validation"
    }

    StaticValidation = {
      name_suffix = "static-validation"
    }

    LookupValidation = {
      name_suffix = "lookup-validation"
    }

    DemographicDataManagement = {
      name_suffix = "demographic-data-management"
    }

    AddCohortDistributionData = {
      name_suffix = "add-cohort-distribution-data"
    }

    RetrieveCohortDistributionData = {
      name_suffix = "retrieve-cohort-distribution-data"
    }

    RemoveCohortDistributionData = {
      name_suffix = "remove-cohort-distribution-data"
    }

    TransformData = {
      name_suffix = "transform-data"
    }

    AllocateServiceProvider = {
      name_suffix = "allocate-service-provider"
    }

  }

}

event_grid = {

  topic = {

    resource_group_key = "cohman"
    name_suffix        = "cohman"
  }
}


law = {
  name_suffix        = "cohman"
  resource_group_key = "cohman"

  law_sku        = "PerGB2018"
  retention_days = 30

}

app_insights = {

  name_suffix        = "cohman"
  resource_group_key = "cohman"
  appinsights_type   = "web"

}
