application = "DToS"
environment = "DEV"
location    = "uksouth"

tags = {
  Project = "DToS"
}

resource_groups = {

  # Baseline RG
  baseline = {

    name = "rg-dtos-dev-suk-baseline"
    # Is is worth leaving location as a parameter for RG?
    # location = "uksouth"
  }

}

storage_accounts = {

  fnapp = {
    name_suffix                   = "fnappstor"
    resource_group_key            = "baseline"
    account_tier                  = "Standard"
    replication_type              = "LRS"
    public_network_access_enabled = true
  }

}

key_vault = {

  #name_suffix = ""
  resource_group_key = "baseline"
  disk_encryption    = true
  soft_del_ret_days  = 7
  purge_prot         = false
  sku_name           = "standard"

}

sqlserver = {

  server = {
    resource_group_key            = "baseline"
    sqlversion                    = "12.0"
    tlsversion                    = 1.2
    azure_services_access_enabled = true
  }

  # Baseline database
  dbs = {
    baseline = {
      db_name_suffix = "baseline"
      collation      = "SQL_Latin1_General_CP1_CI_AS"
      licence_type   = "LicenseIncluded"
      max_gb         = 5
      read_scale     = false
      sku            = "S0"
    }
  }

  fw_rules = {

    passthrough = {
      fw_rule_name = "AllowAccessFromAzure"
      start_ip     = "0.0.0.0"
      end_ip       = "0.0.0.0"
    }
  }

}

app_service_plan = {


  resource_group_key = "baseline"

  sku_name = "B3"
  os_type  = "Windows"

}

function_app = {

  resource_group_key = "baseline"
  worker_32bit       = false

  fa_config = {

    receiveCaasFile = {
      name_suffix = "receiveCaasFile"
    }

    ProcessCaasFile = {
      name_suffix = "ProcessCaasFile"
    }

    AddNewParticipant = {
      name_suffix = "AddNewParticipant"
    }

    MarkParticipantAsIneligible = {
      name_suffix = "MarkParticipantAsIneligible"
    }

    CreateParticipantDS = {
      name_suffix = "CreateParticipantDS"
    }

    MarkParticipantEligibleDS = {
      name_suffix = "MarkParticipantEligibleDS"
    }

    MarkParticipantIneligibleDS = {
      name_suffix = "MarkParticipantIneligibleDS"
    }

    UpdateParticipant = {
      name_suffix = "UpdateParticipant"
    }

    UpdateParticipantDS = {
      name_suffix = "UpdateParticipantDS"
    }

    BusinessAuditDS = {
      name_suffix = "BusinessAuditDS"
    }

  }

}

event_grid = {

  topic = {

    resource_group_key = "baseline"
    name_suffix        = "baseline"
  }
}


law = {
  name_suffix        = "baseline"
  resource_group_key = "baseline"

  law_sku        = "PerGB2018"
  retention_days = 30

}

app_insights = {

  name_suffix        = "baseline"
  resource_group_key = "baseline"
  appinsights_type   = "web"

}
