application = "DToS"
environment = "DEV"
location = "North Europe"

tags = {
  Project = "DToS"
}

resource_groups = [
  "baseline"
]

storage_accounts = {

  fnapp = {
    name_suffix              = "fnapp"
    resource_group_index     = "baseline"
    account_tier             = "Standard"
    replication_type         = "LRS"
    public_network_access_enabled = true
  }

}

key_vault = {

  #name_suffix = ""
  resource_group_index = "baseline"
  disk_encryption      = true
  soft_del_ret_days    = 7
  purge_prot           = false
  sku_name             = "standard"

}

sqlserver = {

  #name_suffix = ""
  resource_group_index = "baseline"
  sqlversion           = "12.0"
  tlsversion           = 1.2

}

app_service_plan = {

    #name_suffix                 = ""
    resource_group_index = "baseline"
    #kind                 = "FunctionApp"
    sku_name             = "P1v2"
    os_type              = "Windows"

}

function_app = {

  #fnapp_count  = 7

  #name_suffix = "fncapp"
  resource_group_index   = "baseline"
  func_sa                = "MPS"

  site_config = {

  }

}
