application = "cohman"
environment = "INT"
location    = "uksouth"

features = {
  app_insights_enabled = true
  law_enabled          = true

}

tags = {
  Project = "Cohort-Manager"
}

resource_groups = {
  # cohman RG
  cohman = {
    name     = "rg-cohort-manager-dev-uks"
    location = "uksouth"
  }
}

resource_groups_audit = {
  audit = {
    name     = "rg-cohort-manager-int-uks-audit"
    location = "uksouth"
  }
}

app_insights = {
  name_suffix        = "cohman"
  resource_group_key = "cohman"
  appinsights_type   = "web"

  audit_resource_group_key = "audit"
}

law = {
  name_suffix        = "cohman"
  resource_group_key = "cohman"

  law_sku        = "PerGB2018"
  retention_days = 30

  audit_resource_group_key = "audit"
}
