application           = "cohman"
application_full_name = "cohort-manager"
environment           = "INT"
location              = "uksouth"

features = {
  app_insights_enabled = true
  law_enabled          = true

}

tags = {
  Project = "Cohort-Manager"
}

resource_groups_audit = {
  audit = {
    name     = "rg-cohman-int-uks-audit"
    location = "uksouth"
  }
}

app_insights = {
  #name_suffix        = "cohman"
  resource_group_key = "audit"
  appinsights_type   = "web"

  audit_resource_group_key = "audit"
}

law = {
  #name_suffix        = "cohman"
  resource_group_key = "audit"

  law_sku        = "PerGB2018"
  retention_days = 30

  audit_resource_group_key = "audit"
}
