application = "cohman"
environment = "NFT"
location    = "uksouth"

tags = {
  Project = "Cohort-Manager"
}

resource_groups = {

  # cohman RG
  cohman = {

    name     = "rg-cohort-manager-nft-uks"
    location = "uksouth"
  },
  cohman-network = {

    name     = "rg-cohort-manager-network-dev-uks"
    location = "uksouth"
  }

}

resource_groups_audit = {

  audit = {

    name     = "rg-audit-cohort-manager-nft-uks"
    location = "uksouth"
  }
}
storage_accounts = {

  fnapp = {
    name_suffix                   = "fnappstor"
    resource_group_key            = "cohman"
    account_tier                  = "Standard"
    replication_type              = "LRS"
    public_network_access_enabled = true
  }

  file_exceptions = {
    name_suffix                   = "filexptns"
    resource_group_key            = "cohman"
    account_tier                  = "Standard"
    replication_type              = "LRS"
    public_network_access_enabled = true

    cont_name        = "file-exceptions"
    cont_access_type = "private"
  }

}

key_vault = {

  #name_suffix = ""
  resource_group_key = "cohman"
  disk_encryption    = true
  soft_del_ret_days  = 7
  purge_prot         = false
  sku_name           = "standard"

}

sqlserver = {

  sql_uai_name       = "dtos-cohort-manager-sql-adm"
  sql_adm_group_name = "sqlsvr_cohman_nft_uks_admin"
  ad_auth_only       = true

  server = {
    resource_group_key            = "cohman"
    sqlversion                    = "12.0"
    tlsversion                    = 1.2
    azure_services_access_enabled = true
  }

  # cohman database
  dbs = {
    cohman = {
      db_name_suffix = "DToSDB"
      collation      = "SQL_Latin1_General_CP1_CI_AS"
      licence_type   = "LicenseIncluded"
      max_gb         = 5
      read_scale     = false
      sku            = "S0"
    }
  }

  fw_rules = {

    passthrough = {
      fw_rule_name = "AllowAccessFromAzure"
      start_ip     = "0.0.0.0"
      end_ip       = "0.0.0.0"
    }
  }

}

app_service_plan = {

  resource_group_key = "cohman"

  sku_name = "P2v3"
  os_type  = "Linux"

  autoscale = {
    memory_percentage = {

      metric = "MemoryPercentage"

      capacity_min = "1"
      capacity_max = "5"
      capacity_def = "1"

      time_grain       = "PT1M"
      statistic        = "Average"
      time_window      = "PT10M"
      time_aggregation = "Average"

      inc_operator        = "GreaterThan"
      inc_threshold       = 70
      inc_scale_direction = "Increase"
      inc_scale_type      = "ChangeCount"
      inc_scale_value     = 1
      inc_scale_cooldown  = "PT5M"

      dec_operator        = "LessThan"
      dec_threshold       = 25
      dec_scale_direction = "Decrease"
      dec_scale_type      = "ChangeCount"
      dec_scale_value     = 1
      dec_scale_cooldown  = "PT5M"

    }
  }

}

function_app = {

  resource_group_key = "cohman"

  gl_worker_32bit         = false
  gl_cont_registry_use_mi = true

  gl_docker_env_tag        = "nft"
  gl_docker_img_prefix     = "cohort-manager"
  gl_docker_CI_enable      = "false"
  gl_enable_appsrv_storage = "false"

  fa_config = {

    ReceiveCaasFile = {
      name_suffix = "receive-caas-file"
      site_config = {
        application_stack = {
        }
      }
    }

    ProcessCaasFile = {
      name_suffix = "process-caas-file"
      site_config = {
        application_stack = {
        }
      }
    }

    AddParticipant = {
      name_suffix = "add-participant"
      site_config = {
        application_stack = {
        }
      }
    }

    RemoveParticipant = {
      name_suffix = "remove-participant"
      site_config = {
        application_stack = {
        }
      }
    }

    UpdateParticipant = {
      name_suffix = "update-participant"
      site_config = {
        application_stack = {
        }
      }
    }

    CreateParticipant = {
      name_suffix = "create-participant"
      site_config = {
        application_stack = {
        }
      }
    }

    MarkParticipantAsEligible = {
      name_suffix = "mark-participant-as-eligible"
      site_config = {
        application_stack = {
        }
      }
    }

    MarkParticipantAsIneligible = {
      name_suffix = "mark-participant-as-ineligible"
      site_config = {
        application_stack = {
        }
      }
    }

    UpdateParticipantDetails = {
      name_suffix = "update-participant-details"
      site_config = {
        application_stack = {
        }
      }
    }

    CreateException = {
      name_suffix = "create-exception"
      site_config = {
        application_stack = {
        }
      }
    }

    GetValidationExceptions = {
      name_suffix = "get-validation-exceptions"
      site_config = {
        application_stack = {
        }
      }
    }

    DemographicDataService = {
      name_suffix = "demographic-data-service"
      site_config = {
        application_stack = {
        }
      }
    }

    FileValidation = {
      name_suffix = "file-validation"
      site_config = {
        application_stack = {
        }
      }
    }

    StaticValidation = {
      name_suffix = "static-validation"
      site_config = {
        application_stack = {
        }
      }
    }

    LookupValidation = {
      name_suffix = "lookup-validation"
      site_config = {
        application_stack = {
        }
      }
    }

    DemographicDataManagement = {
      name_suffix = "demographic-data-management"
      site_config = {
        application_stack = {
        }
      }
    }

    DevOpsTestingService = {
      name_suffix = "devops-testing-service"
      site_config = {
        application_stack = {
        }
      }
    }

    AddCohortDistributionData = {
      name_suffix = "add-cohort-distribution-data"
      site_config = {
        application_stack = {
        }
      }
    }

    RetrieveCohortDistributionData = {
      name_suffix = "retrieve-cohort-distribution-data"
      site_config = {
        application_stack = {
        }
      }
    }

    RemoveCohortDistributionData = {
      name_suffix = "remove-cohort-distribution-data"
      site_config = {
        application_stack = {
        }
      }
    }

    TransformDataService = {
      name_suffix = "transform-data-service"
      site_config = {
        application_stack = {
        }
      }
    }

    AllocateServiceProvider = {
      name_suffix = "allocate-service-provider"
      site_config = {
        application_stack = {
        }
      }
    }

    CreateCohortDistribution = {
      name_suffix = "create-cohort-distribution"
      site_config = {
        application_stack = {
        }
      }
    }

    RetrieveParticipantData = {
      name_suffix = "retrieve-participant-data"
      site_config = {
        application_stack = {
        }
      }
    }

    ValidateCohortDistributionRecord = {
      name_suffix = "validate-cohort-distribution-record"
      site_config = {
        application_stack = {
        }
      }
    }

  }

}

event_grid = {

  topic = {

    resource_group_key = "cohman"
    name_suffix        = "cohman"
  }
}


law = {
  name_suffix        = "cohman"
  resource_group_key = "cohman"

  law_sku        = "PerGB2018"
  retention_days = 30

  audit_resource_group_key = "audit"

}

app_insights = {

  name_suffix        = "cohman"
  resource_group_key = "cohman"
  appinsights_type   = "web"

  audit_resource_group_key = "audit"

}

acr = {

  resource_group_key = "cohman"
  sku                = "Premium"
  admin_enabled      = false

  uai_name = "dtos-cohort-manager-acr-push-nft"

}

api_management = {

  resource_group_key = "cohman"
  sku                = "Basic_1"

  publisher_name  = "NHS_DToS_CohortManager"
  publisher_email = "maciej.murawski@nordcloud.com"

}

vnet = {

  resource_group_key = "cohman-network"
  vnet_address_space = ["10.1.0.0/24"]

}

subnet = {

  resource_group_key = "cohman-network"

}
