{
  "Endpoints": {
    "ProcessCaasFile": {
      "Url": "YOUR_ENDPOINT_URL"
    },
    "AddParticipant": {
      "Url": "YOUR_ENDPOINT_URL"
    }
  },
  "ConnectionString": {
    "DtOsDatabaseConnectionString": "YOUR_DATABASE_CONNECTION_STRING"
  },
  "FilePaths": {
    "Local": "path_to_your/testData.csv"
  },
  "AzureWebJobsStorage": "",
  "BlobContainerName": "YOUR_BLOB_CONTAINER_NAME"
}
