# Ignore appsettings.json
appsettings.json

# Ignore all CSV files in the IntegrationTests folder and its subdirectories
*.csv

# Ignore all Parquet files in the IntegrationTests folder and its subdirectories
*.parquet
