@use "~nhsuk-frontend/packages/nhsuk";

// Utilities

.app-u-no-wrap {
  white-space: nowrap;
}

// Fixes

.app-card {
  padding: 24px;
}

.app-card > :last-child {
  margin-bottom: 0;
}

@media (min-width: 40.0625em) {
  .app-card {
    padding: 32px;
  }
}

// Add support for including icon in login button
// https://github.com/nhsuk/nhsuk-frontend/pull/1305

.nhsuk-button--login {
  align-items: center;
  display: inline-flex;
}

.nhsuk-button__login-icon {
  align-self: center;
  flex-shrink: 0;
  margin-right: 16px;
  vertical-align: middle;
  // Work around SVGs not inheriting color from parent in forced color mode
  // (https://github.com/w3c/csswg-drafts/issues/6310)
  forced-color-adjust: auto;
}

// Add support for smaller button

.app-button--small {
  padding: 4px 16px;
  font-size: 16px;
  margin-bottom: 0;
  margin-left: 8px;
}

// Form and results layout

.app-form-results-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.app-results-text {
  margin: 0;
}

// Pagination

.app-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.app-pagination__prev,
.app-pagination__next {
  display: flex;
  align-items: center;
}

.app-pagination__list {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-pagination__item {
  margin: 0;
}

.app-pagination__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  height: 44px;
  padding: 8px 12px;
  text-decoration: underline;
  color: #005ea5;
  border: 2px solid transparent;
  font-weight: 400;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.app-pagination__item--current .app-pagination__link {
  background-color: #005ea5;
  color: white;
  border-color: #005ea5;

  &:hover {
    color: white;
  }

  &:active {
    color: black;
  }
}

.app-pagination__link-title {
  font-weight: 400;
  font-size: 18px;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.app-pagination__icon {
  margin-right: 8px;
  fill: currentColor;
}

.app-pagination__icon--next {
  margin-right: 0;
  margin-left: 8px;
}

.nhsuk-action-link {
  display: flex;
  align-items: center;
}

.nhsuk-icon--arrow-right-circle {
    margin-right: 8px;
}

.nhsuk-action-link__text {
      font-size: 20px;
      font-weight: bold;
      align-self: center;
}

.app-feedback-section .nhsuk-action-link svg.nhsuk-icon--arrow-right-circle {
  fill: #00703c;
  color: #00703c;
}

