name: 'Docker Image CI - devtest'

on:
  workflow_call:
    inputs:
      environment_tag:
        description: Environment of the deployment
        required: true
        type: string
        default: development
      docker_compose_file:
        description: The path of the compose.yaml file needed to build docker images
        required: true
        type: string
      function_app_source_code_path:
        description: The source path of the function app source code for the docker builds
        required: true
        type: string
      project_name:
        description: The name of the project
        required: true
        type: string
      excluded_containers_csv_list:
        description: Excluded containers in a comma separated list
        required: true
        type: string
      build_all_images:
        description: Build all images (true) or only changed ones (false)
        required: false
        type: boolean
        default: false

    secrets:
      client_id:
        description: 'The Azure Client ID.'
        required: true
      tenant_id:
        description: 'The Azure Tenant ID.'
        required: true
      subscription_id:
        description: 'The Azure Subscription ID.'
        required: true
      acr_name:
        description: 'The name of the Azure Container Registry.'
        required: true

jobs:

  get-pr-number:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
      contents: read
    outputs:
      GET_PR_NUM: ${{ steps.get_pr_num.outputs.PR_NUM_TAG }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Fetch PR Number
        id: get_pr_num
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          # Find the PR associated with the current commit SHA
          PR_NUM_TAG=$(gh pr list --sha ${{ github.sha }} --state all --json number --jq '.[0].number')

          if [ -z "$PR_NUM_TAG" ]; then
            echo "No PR found for this tag push."
            echo "PR_NUM_TAG=null" >> $GITHUB_OUTPUT
          else
            echo "Found PR: $PR_NUM_TAG"
            echo "PR_NUM_TAG=$PR_NUM_TAG" >> $GITHUB_OUTPUT
          fi

  get-functions:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
      id-token: write
    outputs:
      FUNC_NAMES: ${{ steps.get-function-names.outputs.FUNC_NAMES }}
      DOCKER_COMPOSE_DIR: ${{ steps.get-function-names.outputs.DOCKER_COMPOSE_DIR }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout dtos-devops-templates repository
        uses: actions/checkout@v4
        with:
          repository: NHSDigital/dtos-devops-templates
          path: templates
          ref: main

      - name: Determine which Docker container(s) to build
        id: get-function-names
        env:
          COMPOSE_FILES_CSV: ${{ inputs.docker_compose_file }}
          EXCLUDED_CONTAINERS_CSV: ${{ inputs.excluded_containers_csv_list }}
          SOURCE_CODE_PATH: ${{ inputs.function_app_source_code_path }}
          MANUAL_BUILD_ALL: ${{ inputs.build_all_images || false }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: bash scripts/deployment/get-docker-names.sh

  build-base-images:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
      id-token: write
      packages: write
    outputs:
      DOTNET_BASE_IMAGE: ${{ steps.set-image-tags.outputs.DOTNET_BASE_IMAGE }}
      FUNCTION_BASE_IMAGE:  ${{ steps.set-image-tags.outputs.FUNCTION_BASE_IMAGE }}
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 1
          submodules: 'true'

      - name: log in to GHCR
        uses: docker/login-action@v3
        continue-on-error: false
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Detect base image changes
        id: detect-base-image-changes
        continue-on-error: false
        run: bash scripts/deployment/check-base-image-changes.sh

      - name: Build Base Images
        id: build-base-images
        working-directory: ./
        if: ${{ steps.detect-base-image-changes.outputs.BASE_IMAGE_CHANGE == 'true' || github.ref == 'refs/heads/main'  }}
        continue-on-error: false
        run: |
          PR_NUM_TAG=${PR_NUM_TAG}
          SHORT_COMMIT_HASH=$(git rev-parse --short ${GITHUB_SHA})
          echo $SHORT_COMMIT_HASH
          echo $PR_NUM_TAG
          echo $GITHUB_REF

          docker build -f Dockerfile.dotnet.base -t cohort-manager-dotnet-base:latest .
          docker tag cohort-manager-dotnet-base:latest "ghcr.io/nhsdigital/cohort-manager-dotnet-base:${PR_NUM_TAG}"
          docker tag cohort-manager-dotnet-base:latest "ghcr.io/nhsdigital/cohort-manager-dotnet-base:${SHORT_COMMIT_HASH}"

          docker build -f Dockerfile.function.base -t cohort-manager-function-base:latest .
          docker tag cohort-manager-function-base:latest "ghcr.io/nhsdigital/cohort-manager-function-base:${PR_NUM_TAG}"
          docker tag cohort-manager-function-base:latest "ghcr.io/nhsdigital/cohort-manager-function-base:${SHORT_COMMIT_HASH}"

          docker push "ghcr.io/nhsdigital/cohort-manager-dotnet-base:${PR_NUM_TAG}"
          docker push "ghcr.io/nhsdigital/cohort-manager-dotnet-base:${SHORT_COMMIT_HASH}"
          docker push "ghcr.io/nhsdigital/cohort-manager-function-base:${PR_NUM_TAG}"
          docker push "ghcr.io/nhsdigital/cohort-manager-function-base:${SHORT_COMMIT_HASH}"
          if [ "${GITHUB_REF}" == 'refs/heads/main' ]; then
              docker push "ghcr.io/nhsdigital/cohort-manager-dotnet-base:latest"
              docker push "ghcr.io/nhsdigital/cohort-manager-function-base:latest"
          fi

      - name: Set Image Tags
        id: set-image-tags
        run: |

          PR_NUM_TAG=$(echo "${GITHUB_REF}" | sed 's/refs\/pull\/\([0-9]*\)\/merge/\1/')
          IMAGE_TAG="latest"

          # if [[ ${{steps.detect-base-image-changes.outputs.BASE_IMAGE_CHANGE}} == 'true' ]]; then
          #   IMAGE_TAG="${PR_NUM_TAG}"
          # fi
          echo "Image Tag = ${IMAGE_TAG}"

          echo "DOTNET_BASE_IMAGE=ghcr.io/nhsdigital/cohort-manager-dotnet-base:${IMAGE_TAG}" >> "${GITHUB_OUTPUT}"
          echo "FUNCTION_BASE_IMAGE=ghcr.io/nhsdigital/cohort-manager-function-base:${IMAGE_TAG}" >> "${GITHUB_OUTPUT}"

          echo "The value of FUNCTION_BASE_IMAGE variable"
          echo $FUNCTION_BASE_IMAGE
          echo "ghcr.io/nhsdigital/cohort-manager-function-base:"${IMAGE_TAG}





  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: read
    needs: [get-functions, build-base-images]
    strategy:
      matrix:
        function: ${{ fromJSON(needs.get-functions.outputs.FUNC_NAMES) }}
    if: needs.get-functions.outputs.FUNC_NAMES != '[]'
    outputs:
      pr_num_tag: ${{ env.PR_NUM_TAG }}
      short_commit_hash: ${{ env.COMMIT_HASH_TAG }}
      devtest_commit_hash: ${{ env.DEVTEST_HASH_TAG }}
      devtest_pr_num_tag: ${{ env.DEVTEST_PR_NUM_TAG }}
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 1
          submodules: 'true'

      - name: Checkout dtos-devops-templates repository
        uses: actions/checkout@v4
        with:
          repository: NHSDigital/dtos-devops-templates
          path: templates
          ref: main

      - name: Az CLI login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.client_id }}
          tenant-id: ${{ secrets.tenant_id }}
          subscription-id: ${{ secrets.subscription_id }}

      - name: Azure Container Registry login
        env:
          ACR_NAME: ${{ secrets.acr_name }}
        run: az acr login --name ${ACR_NAME}

      - name: Create Tags
        env:
          GH_TOKEN: ${{ github.token }}
          ENVIRONMENT_TAG: ${{ inputs.environment_tag }}
        continue-on-error: false
        run: |
          echo "The branch is: ${GITHUB_REF}"

          if [[ "${GITHUB_REF}" == refs/pull/*/merge ]]; then
            PR_NUM_TAG=$(echo "${GITHUB_REF}" | sed 's/refs\/pull\/\([0-9]*\)\/merge/\1/')
          else
            PULLS_JSON=$(gh api /repos/{owner}/{repo}/commits/${GITHUB_SHA}/pulls)
            ORIGINATING_BRANCH=$(echo ${PULLS_JSON} | jq -r '.[].head.ref' | python3 -c "import sys, urllib.parse; print(urllib.parse.quote_plus(sys.stdin.read().strip()))")
            echo "ORIGINATING_BRANCH: ${ORIGINATING_BRANCH}"
            PR_NUM_TAG=$(echo ${PULLS_JSON} | jq -r '.[].number')
          fi

          echo "PR_NUM_TAG: pr${PR_NUM_TAG}"
          echo "PR_NUM_TAG=pr${PR_NUM_TAG}" >> ${GITHUB_ENV}

          DEVTEST_PR_NUM_TAG="devtest_${PR_NUM_TAG}"
          echo "Devtest Pr Num tag: ${DEVTEST_PR_NUM_TAG}"
          echo "DEVTEST_PR_NUM_TAG=${DEVTEST_PR_NUM_TAG}" >> ${GITHUB_ENV}

          SHORT_COMMIT_HASH=$(git rev-parse --short ${GITHUB_SHA})
          echo "Commit hash tag: ${SHORT_COMMIT_HASH}"
          echo "COMMIT_HASH_TAG=${SHORT_COMMIT_HASH}" >> ${GITHUB_ENV}

          # DEVTEST_COMMIT_HASH="devtest_${SHORT_COMMIT_HASH}"
          # echo "Commit devtest hash tag: ${DEVTEST_COMMIT_HASH}"
          # echo "DEVTEST_HASH_TAG=${DEVTEST_COMMIT_HASH}" >> ${GITHUB_ENV}

          echo "ENVIRONMENT_TAG=${ENVIRONMENT_TAG}" >> ${GITHUB_ENV}

      - name: Build and Push Image
        working-directory: ${{ steps.get-function-names.outputs.DOCKER_COMPOSE_DIR }}
        continue-on-error: false
        env:
          COMPOSE_FILE: ${{ inputs.docker_compose_file }}
          PROJECT_NAME: ${{ inputs.project_name }}
          ACR_NAME: ${{ secrets.acr_name }}
        run: |
          function=${{ matrix.function }}

          echo PROJECT_NAME: ${PROJECT_NAME}

          if [ -z "${function}" ]; then
            echo "Function variable is empty. Skipping Docker build."
            exit 0
          fi


          docker compose -f ${COMPOSE_FILE//,/ -f } \
            -p ${PROJECT_NAME} \
            --profile "*" build --no-cache --pull ${function}

          repo_name="${ACR_NAME}.azurecr.io/${PROJECT_NAME}-${function}"
          echo $(repo_name)

          # Tag the image
          echo "Tag the image:"
          #docker tag ${PROJECT_NAME}-${function}:latest "$repo_name:${DEVTEST_HASH_TAG}"
          docker tag ${PROJECT_NAME}-${function}:latest "$repo_name:${DEVTEST_PR_NUM_TAG}"
          # docker tag ${PROJECT_NAME}-${function}:latest "$repo_name:${ENVIRONMENT_TAG}"

          # If this variable is set, the create-sbom-report.sh script will scan this docker image instead.
          export CHECK_DOCKER_IMAGE=${PROJECT_NAME}-${function}:latest
          export FORCE_USE_DOCKER=true

          export PR_NUM_TAG=${PR_NUM_TAG}
          echo "PR_NUM_TAG=${PR_NUM_TAG}" >> ${GITHUB_ENV}

          # Push the image to the repository
          docker push "${repo_name}:${DEVTEST_PR_NUM_TAG}"

      - name: Cleanup the docker images
        env:
          PROJECT_NAME: ${{ inputs.project_name }}
          ACR_NAME: ${{ secrets.acr_name }}
        run: |
          function=${{ matrix.function }}
          repo_name="${ACR_NAME}.azurecr.io/${PROJECT_NAME}-${function}"

          # Remove the images
          # docker rmi "${repo_name}:${DEVTEST_HASH_TAG}"
          docker rmi "${repo_name}:${DEVTEST_PR_NUM_TAG}"
          # docker rmi "${repo_name}:${ENVIRONMENT_TAG}"
          docker rmi ${PROJECT_NAME}-${function}:latest
